# http://editorconfig.org

[*]
indent_size = 4

[.*]
indent_size = 4

[/docs/*.markdoc]
charset = utf-8-bom
indent_style = tab
indent_size = 8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false

[/README.md]
indent_style = space
indent_size = 4
